.cartSlider {
  position: fixed;
  top: 0px;
  right: -110%;
  z-index: 99;
  background-color: white;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  width: 400px;
  height: 95vh;
  padding: 30px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  bottom: 0;
  margin: auto 0;
  transition: all 0.3s ease-in-out;
}

.showSlider {
  right: 0;
}

.cartSlider-header {
  display: flex;
  justify-content: space-between;
}

.cartSlider-header button {
  font-size: 20px;
}

.cartSlider-top hr {
  border: none;
  height: 1px;
  background-color: rgba(0, 0, 0, 0.2);
  margin: 20px 0;
}

.cartslider-empty {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 70vh;
  gap: 20px;
}

.cartslider-empty img {
  width: 80px;
}

.cartslider-empty h3 {
  font-weight: 500;
}

.cartslider-empty button {
  background-color: var(--clr5);
  color: white;
  padding: 8px 20px;
  border-radius: 5px;
}

.cartSlider .cart-product {
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  gap: 20px;
  margin-bottom: 20px;
  color: var(--clr4);
  align-items: center;
}

.cartSlider .cart-product img {
  height: 50px;
  width: 50px;
}

.cartSlider .cart-product strong {
  transition: 0.3s;
}

.cartSlider .cart-product strong:hover {
  color: black;
  cursor: pointer;
}

.cartSlider .cart-product p {
  color: blue;
}

.nav-cart-delete-btn {
  transition: 0.3s;
}

.nav-cart-delete-btn:hover {
  transform: scale(1.5);
}

.cartSlider .subtotal {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px 0;
}

.nav-cart-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.nav-cart-buttons button {
  width: 100%;
  background-color: var(--clr8);
  padding: 10px;
  color: var(--clr1);
  border-radius: 2px;
  transition: 0.3s;
}

.nav-cart-buttons button:hover {
  background-color: black;
}

@media screen and (max-width: 668px) {
  .cartSlider {
    width: 350px;
    height: 95svh;
  }

  .cartslider-empty {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 50vh;
    gap: 20px;
  }
}
