.newArrivals {
  margin: 120px auto !important;
}

.newArrivals h3 {
  font-size: 32px;
  text-align: center;
  margin-bottom: 30px;
}

.newArrivals h5 {
  text-align: center;
  font-size: 14px;
  color: gray;
  font-weight: 500;
}

.newArrivalsLoader {
  min-height: 30vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.newArrivals .mySwiper {
  position: relative;
  padding: 20px 20px 40px !important;
}

.newArrivals .NewArrivalsNextElBtn,
.newArrivals .NewArrivalsPrevElBtn {
  height: 50px;
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(206, 171, 147, 0.7);
  font-size: 18px;
  position: absolute;
  border: none;
  z-index: 99;
}

.newArrivals .NewArrivalsNextElBtn {
  right: 0px;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 5px 0 0 5px;
}

.newArrivals .NewArrivalsPrevElBtn {
  left: 0px;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 0 5px 5px 0;
}

@media screen and (max-width: 668px) {
  .newArrivals {
    margin: 60px auto !important;
  }

  .newArrivals .mySwiper {
    position: relative;
    padding: 20px 10px 40px !important;
  }

  .newArrivals .NewArrivalsNextElBtn,
  .newArrivals .NewArrivalsPrevElBtn {
    height: 30px;
    width: 30px;
  }
}
