.homeWomensCollection {
  width: 80%;
  margin: 0 auto 100px;
}

.homeWomensCollection-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.homeWomensCollection-header h3 {
  font-size: 26px;
  color: black;
}

.homeWomensCollection-header div {
  display: flex;
  gap: 10px;
  margin-right: 20px;
}

.homeWomensCollection-header button {
  font-size: 22px;
  padding: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  border: none;
  border-radius: 5px;
  color: white;
}

.women-collection-banner img {
  border-radius: 10px;
}

.homeWomensCollection-container {
  display: grid;
  grid-template-columns: 1fr 5fr;
  align-items: center;
}

.mensCollectionLoader {
  min-height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.homeWomensCollection-container .mySwiper {
  width: 100%;
  padding: 20px 20px 30px !important;
}

@media screen and (max-width: 1500px) {
  .homeWomensCollection {
    width: 90%;
    margin: 0 auto 100px;
  }

  .homeWomensCollection-container {
    grid-template-columns: 1fr;
  }

  .women-collection-banner {
    display: none;
  }

  .homeWomensCollection-container .mySwiper {
    width: 100%;
    padding: 20px 0px 30px !important;
  }
}
