.productPage-images .swiper {
  position: relative;
  width: 100%;
  height: 100%;
}

.productPage-images .mySwiper2 {
  height: 600px;
  width: 600px;
}

.productPage-images .swiper-slide {
  width: auto;
  flex-shrink: 0;
  display: block;
  height: 100%;
  max-height: 100%;
}

.productPage-images .swiper-slide img {
  display: block;
  width: 100% !important;
  height: 100% !important;
  object-fit: cover;
}

.productPage-images .swiper-slide video {
  display: block;
  width: 100% !important;
  height: 100% !important;
  object-fit: contain;
}

.productPage-images .mySwiper {
  height: calc((600px / 4));
  width: 600px;
  box-sizing: border-box;
  padding: 10px 0;
}

.productPage-images .mySwiper .swiper-slide {
  width: 25%;
  height: 100%;
  opacity: 0.7;
}

.productPage-images .mySwiper .swiper-slide-thumb-active {
  opacity: 1;
}

.productPage-images .productPage-video {
  position: relative;
  background-color: rgba(0, 0, 0, 0.5);
}

.productPage-images .mySwiper .productPage-video video {
  height: 100% !important;
  width: 100% !important;
  object-fit: contain;
}

.productPage-images .productPage-video button {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  font-size: 52px;
  color: white;
}

.productPage-images .swiper-button-prev,
.productPage-images .swiper-button-next {
  color: white;
  background-color: black;
  border-radius: 5px;
}

.productPage-images .swiper-button-prev::after,
.productPage-images .swiper-button-next::after {
  font-size: 20px;
}

@media screen and (max-width: 400px) {
  .productPage-images .mySwiper2 {
    height: 280px;
    width: 280px;
  }
  .productPage-images .mySwiper {
    height: calc((280px / 4));
    width: 280px;
    box-sizing: border-box;
    padding: 10px 0;
  }
}

@media screen and (min-width: 401px) and (max-width: 450px) {
  .productPage-images .mySwiper2 {
    height: 320px;
    width: 320px;
  }
  .productPage-images .mySwiper {
    height: calc(320px / 4);
    width: 320px;
    box-sizing: border-box;
    padding: 10px 0;
  }
}

@media screen and (min-width: 451px) and (max-width: 668px) {
  .productPage-images .mySwiper2 {
    height: 350px;
    width: 350px;
  }
  .productPage-images .mySwiper {
    height: calc((350px / 4));
    width: 350px;
    box-sizing: border-box;
    padding: 10px 0;
  }
}
