.cartPage {
  background-color: #f3f3f3;
  padding: 0px 0 100px;
}

.cartPage-header {
  text-align: center;
  margin-bottom: 50px;
  color: white;
  background-color: var(--clr8);
  position: relative;
  height: 200px;
  /* background-image: url("/src/assets/cartBanner.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; */
}

.cartPage-header div {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.cartPage-header h1 {
  margin-bottom: 20px;
  font-weight: 500;
}

.cartPage-container {
  margin: 0 auto;
  width: 65%;
  display: grid;
  grid-template-columns: 70% 30%;
  gap: 50px;
}

.cartPage-container button {
  transition: 0.3s;
}

.cartPage-container button:hover {
  background-color: var(--clr8);
}

.cartPage-container [type="radio"] {
  accent-color: var(--clr4);
}

.cartPage-empty {
  min-height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
}

.cartPage-empty h3 {
  font-size: 24px;
}

.cartPage-empty button {
  background-color: var(--clr5);
  color: white;
  padding: 8px 20px;
  border-radius: 5px;
  font-size: 16px;
}

/*------cart products------*/
.cartProducts-header {
  display: grid;
  grid-template-columns: 1fr 3fr 2fr 1fr 1fr;
  margin-bottom: 20px;
  gap: 10px;
}

.cartProducts-header p {
  font-size: 16px;
  font-weight: 500;
}

.cartProduct {
  display: grid;
  grid-template-columns: 1fr 3fr 2fr 1fr 1fr;
  margin-bottom: 20px;
  align-items: center;
  gap: 10px;
}

.cartProduct img {
  width: 60px;
}

.cartProduct-details {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.cartProduct-counter {
  display: flex;
  align-items: center;
  gap: 20px;
  font-size: 18px;
}

.cartProduct-counter button {
  height: 30px;
  width: 30px;
  background-color: var(--clr9);
  color: white;
  border-radius: 5px;
  transition: 0.3s;
}

.cartProduct-counter button:hover {
  background-color: var(--clr8);
}

.cartProducts-header p:nth-child(3),
.cartProduct-counter {
  justify-self: center;
}

.cartProducts-header :last-child,
.cartProduct :last-child {
  justify-self: flex-end;
}

.cartPage-delete-Item {
  font-size: 18px;
  padding: 5px;
  border-radius: 50%;
  background-color: orangered;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.cartProducts hr {
  height: 1px;
  background-color: rgba(0, 0, 0, 0.1);
  border: none;
  margin: 20px 0;
}

/*-----cart details----------*/
.cartDetails {
  background-color: #fff;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
  padding: 30px;
}

.cartDetails hr {
  height: 1px;
  background-color: rgba(0, 0, 0, 0.1);
  border: none;
  margin: 20px 0;
}

.cartPage-subtotal {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.shippingCharge li {
  margin-top: 10px;
  font-size: 15px;
  list-style-type: disc;
}

.cartPage-total {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cartDetails-checkout-btn {
  width: 100%;
  background-color: var(--clr9);
  color: black;
  padding: 10px 0;
  margin-top: 20px;
  font-size: 16px;
  font-weight: 500;
}

@media screen and (max-width: 668px) {
  .cartPage-container {
    grid-template-columns: 1fr;
    width: 90% !important;
  }

  .cartProducts-header p {
    font-size: 15px;
  }

  .cartProduct img {
    width: 40px;
  }

  .cartProduct strong {
    font-size: 14px;
    font-weight: 500;
  }

  .cartProduct-counter {
    gap: 10px;
    font-size: 16px;
  }

  .cartProduct-counter button {
    height: 25px;
    width: 25px;
  }

  .cartProducts-header p:nth-child(3),
  .cartProduct-counter {
    justify-self: flex-start;
  }

  .cartPage-empty {
    min-height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    width: 80%;
    margin: 0 auto;
    text-align: center;
  }

  .cartPage-empty img {
    width: 200px;
  }

  .cartPage-empty h3 {
    font-size: 24px;
  }

  .cartPage-empty button {
    background-color: var(--clr5);
    color: white;
    padding: 8px 20px;
    border-radius: 5px;
    font-size: 16px;
  }
}

@media screen and (max-width: 992px) {
  .cartPage-container {
    grid-template-columns: 1fr;
    width: 80%;
  }
}

@media screen and (min-width: 993px) and (max-width: 1500px) {
  .cartPage-container {
    width: 80%;
  }
}
