.banner {
  min-height: 800px;
}

.banner .swiper {
  height: 800px;
  width: 100%;
  overflow: hidden;
}

.banner .swiper-slide {
  position: relative;
}

.banner .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.banner .swiper-slide div {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: white;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.banner .swiper-slide div h2 {
  font-size: 62px;
  font-weight: 800;
}

.banner .swiper-slide-active.first-slide h2,
.banner .swiper-slide-active.third-slide h2,
.banner .swiper-slide-active.first-slide h3,
.banner .swiper-slide-active.third-slide h3 {
  animation: title-animation1 3s forwards;
}

.banner .swiper-slide-active.second-slide h2,
.banner .swiper-slide-active.fourth-slide h2,
.banner .swiper-slide-active.second-slide h3,
.banner .swiper-slide-active.fourth-slide h3 {
  animation: title-animation2 3s forwards;
}

.banner .swiper-slide-active button {
  animation: button-animation 4s forwards;
}

.banner .swiper-pagination-bullet {
  background: none;
  border: 2px solid white !important;
  height: 15px;
  width: 15px;
  border: 1px solid black;
}

.banner .swiper-pagination-bullet-active {
  background-color: white;
  border: none;
}

@keyframes title-animation1 {
  0% {
    transform: translateX(-150px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes title-animation2 {
  0% {
    transform: translateX(150px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes button-animation {
  0% {
    transform: translateY(100px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.banner .swiper-slide button {
  width: fit-content;
  background-color: #ddb79e;

  padding: 10px 20px;
  font-size: 16px;
  font-weight: 500;
  border-radius: 5px;
}

.banner .first-slide div,
.banner .third-slide div {
  left: 10%;
}

.banner .second-slide div,
.banner .fourth-slide div {
  right: 10%;
}

@media screen and (max-width: 668px) {
  .banner {
    min-height: 300px;
  }

  .banner .swiper {
    height: 300px;
  }

  .banner .swiper-slide div h2 {
    font-size: 28px;
    font-weight: 800;
  }

  .banner .swiper-slide div h3 {
    font-size: 16px;
    font-weight: 800;
  }

  .banner .swiper-slide button {
    width: fit-content;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 8px 15px;
    font-size: 14px;
    font-weight: 500;
    border-radius: 5px;
  }
}
