.navbar {
  display: grid;
  grid-template-columns: 3fr 1fr 3fr;
  width: 100%;
  margin: 0 auto;
  height: 80px;
  position: fixed;
  top: 0;
  z-index: 1020;
  background-color: white;
  padding: 0 10%;
}

.navbar .left {
  display: flex;
  align-items: center;
  position: relative;
}

.navbar .left a {
  margin-right: 20px;
  color: black;
  font-size: 16px;
  font-weight: 500;
}

.collections-nav {
  display: inline-flex;
  align-items: center;
  gap: 5px;
  position: relative;
}

.collections-nav svg {
  transition: 0.3s;
}

.collections-nav:hover.collections-nav svg {
  transform: rotate(180deg) !important;
}

.collections-dropdown {
  display: none;
}

.collections-nav:hover .collections-dropdown {
  display: flex;
  position: absolute;
  background-color: white;
  width: fit-content;
  left: 0;
  top: 100%;
  z-index: 99;
  padding: 40px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  gap: 40px;
  border-radius: 5px;
}

.collections-dropdown div {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.collections-dropdown div strong {
  padding: 5px 10px;
}

.collections-dropdown div a {
  font-size: 15px !important;
  padding: 5px 10px;
  border-radius: 5px;
  width: 100%;
}

.collections-dropdown div a:hover {
  background-color: rgba(128, 128, 128, 0.2) !important;
}

.mobileMenu {
  display: none;
}

.navbar .center {
  justify-self: center;
  align-self: center;
}

.navbar .center a {
  border: none;
  font-size: 24px;
  font-weight: 600;
  color: black;
}

.navbar .right {
  justify-self: right;
  display: flex;
  gap: 30px;
  align-items: center;
}

.navbar .right .action-btns {
  display: flex;
  gap: 20px;
  align-items: center;
}

.navbar .right .cart-btn {
  position: relative;
}

.navbar .right .cart-btn span {
  position: absolute;
  background: black;
  color: white;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  left: -5px;
  top: 0;
  font-size: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar .right .action-btns button {
  border: none;
}

.navbar .right .action-btns .cart-btn img,
.navbar .right .action-btns .login-btn {
  width: 25px;
}

.navbar .right .action-btns .nav-login-btn {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 16px;
  font-weight: 500;
}

.navbar .nav-links .login-link {
  display: none;
}

.navbar .nav-links button {
  display: none;
}

.navbar hr {
  display: none;
}

@media screen and (max-width: 992px) {
  .navbar {
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1020;
    background-color: white;
    padding: 0 5%;
  }

  .nav-links {
    display: none;
  }

  .mobileMenu {
    display: block;
  }

  .navbar .right {
    gap: 15px;
  }

  .navbar .right .action-btns {
    display: flex;
    gap: 15px;
  }

  .navbar .right .search img {
    width: 17px;
  }

  .navbar .right .action-btns .cart-btn img,
  .navbar .right .action-btns .login-btn {
    width: 20px;
  }

  .navbar .right .action-btns .nav-login-btn {
    display: none;
  }
}

@media screen and (max-width: 1200px) {
  .navbar {
    padding: 0 5%;
  }
}
