.products {
  margin-top: 30px;
}

.productsHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.productsHeader > h3 {
  font-size: 24px;
}

.productsHeader select {
  padding: 5px;
  font-size: 15px;
  border: 1px solid rgb(0, 0, 0, 0.2);
  border-radius: 5px;
  outline: none;
}

.products-main-container {
  position: relative;
}

.products-card-container {
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px;
}

.products-loader {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  min-height: 50vh;
  width: 100%;
  background: rgba(255, 255, 255, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.pagination {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 30px;
}

.pagination button {
  font-size: 18px;
  background-color: var(--clr8);
  color: white;
  height: 25px;
  width: 25px;
  border-radius: 5px;
}

.pagination button a {
  color: white;
}

.pagination .currentPage {
  background-color: var(--clr5);
}

@media screen and (max-width: 992px) {
  .products-card-container {
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }

  .pagination {
    justify-content: center;
  }
}

@media screen and (min-width: 993px) and (max-width: 1500px) {
  .products-card-container {
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }
}
